$yellow: #fdd04a;
$red: #ff0023;
$black: #222730;
$black-dark: #000000;
$black-light: #555555;
$blue: #57b8ff;
$blue-light: rgb(11 166 225);
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.35);
$grey: #999999;
$grey-light: rgba(223, 223, 223, 0.8);
$grey-dark: #2a313c;
$transparent: rgba(255, 255, 255, 0.15);
$transparent-dark: rgba(255, 255, 255, 0.5);
$bg: linear-gradient(90deg, $black-dark 56%, $blue 44%);
$breakpoint_xxl: 1400px;
$breakpoint_xxl-break: 1320px;
$breakpoint_xl: 1200px;
$breakpoint_lg: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;
